.v-item-group.v-bottom-nav .v-btn--active .v-btn__content {
  font-size: 12px !important;
}

table.v-table td {
  height: unset !important;
  padding: 12px 12px !important;
}

table.v-table tbody td:first-child {
  height: unset !important;
  padding: 12px 12px !important;
}

.v-carousel__controls {
  background: transparent;
  height: unset !important;
}
